{% load myfilter %}
{% load staticfiles %}

    <!-- Comments -->
    <div class="panel panel-default">

        <div class="list-group">
            {% for comment in article.comment_list %}
                <article class="list-group-item">
                    {% if user.id == comment.author_id %}
                        <div class="pull-right">
                            <a del-comment="true" href="javascript:void(0);" url="/focus/del_comment/{{ topic.id }}/{{ article.id }}/{{ comment.id }}/">
                                删除
                            </a>
                        </div>
                    {% endif %}

                    <div>

                        <div class="media">
                            <a class="media-left" href="/focus/people/{{ comment.author.salt }}">
                                {% if comment.author.avatar %}
                                    <img src="{{ comment.author.avatar }}" alt="..." width="20" height="20" />
                                {% else %}
                                    <img src="{% static "img/default_avatar.jpg" %}" alt="..." width="20" height="20" />
                                {% endif %}
                            </a>
                            <div class="media-body">
                                <a href="/focus/people/{{ comment.author.salt }}">
                                    <small>{{ comment.author }}</small>
                                </a>
                                {% if comment.refer_to %}
                                    <small class="text-muted">&nbsp;&nbsp;回复&nbsp;&nbsp;</small>
                                    <a href="/focus/people/{{ comment.author.salt }}">
                                        <small>{{ comment.refer_to }}</small>
                                    </a>
                                {% endif %}
                                <br>
                                <p>{{ comment.content | safe }}</p>


                                <a refer_to="true" salt="{{ comment.author.salt }}" nick="{{ comment.author }}" href="javascript:void(0);">
                                    <small class="text-muted"><span class="glyphicon glyphicon-share-alt"></span>回复</small>
                                </a>
                                &nbsp;
                                <small class="text-muted">{{ comment.pub_date|my_date }}</small>
                            </div>
                        </div>

                    </div>
                </article>
            {% endfor %}

            <div class="list-group-item">
                <form id="article-{{ article.id }}-add-comment" {# action="/focus/add_comment/{{ topic.id }}/{{ article.id }}/" #} method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <input type="hidden" id="article-{{ article.id }}-add-comment-rt" name="rt" value="0" type="text" class="form-control" >

                                <input id="article-{{ article.id }}-add-comment-content" name="content" type="text" class="form-control" placeholder="您的评论">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" id="submit">添加</button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-xs-12 -->
                    </div>

                </form>
            </div>
        </div>
    </div>

{% load staticfiles %}
<script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
<script src="{% static "js/jquery.twbsPagination.min.js" %}"></script>


<script type="text/javascript">
    $(document).ready(function(){
            $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' } });
            });
</script>

<script type="text/javascript">
    $('#article-{{ article.id }}-comment').twbsPagination({
        totalPages: {{ article.comment_page_num }},
        initiateStartPageClick: false,
        visiblePages: 5,
        startPage: {{ article.comment_page }},
        first: "首页",
        prev: "上页",
        next: "下页",
        last: "末页",
        paginationClass: "pagination pagination-sm center",
        onPageClick: function (event, page) {
            $('#article-{{ article.id }}-comment').load("/focus/comment/{{ topic.id }}/{{ article.id }}/" + page);
        }
    });


    $('#article-{{ article.id }}-add-comment').submit(function(){
        {% if not request.user.is_authenticated %}
            need_login_prompt('{{ request.path }}');
            return false;
        {% endif %}

        var rt = $("#article-{{ article.id }}-add-comment-rt").val();
        var content = $("#article-{{ article.id }}-add-comment-content").val();

        $.ajax({
            type:"POST",
            data: {content:content, rt:rt},
            url:  '/focus/add_comment/{{ topic.id }}/{{ article.id }}/',
            cache: false,
            dataType: "html",
            success: function(result, statues, xml){
                //alert(result);
                $('#article-{{ article.id }}-comment').html(result);
            },
            error: function(){
                //alert("false");
            }
        });
        return false;
    });


{#    $this.ajaxUrl({#}
{#        type : "POST",#}
{#        url : url,#}
{#        callback : function() {#}
{#        }#}
{#    });#}


    $("a[del-comment]").click(function() {
        var $this = $(this);
        var url = $this.attr("url");
        if (url) {
            $.get(url, {}, function(data){ $('#article-{{ article.id }}-comment').html(data); });
        }

        return false;
    });


    $("a[refer_to]").click(function() {
        var $this = $(this);
        var salt = $this.attr("salt");
        var nick = $this.attr('nick');
        if (salt && nick) {
            $("#article-{{ article.id }}-add-comment-rt").val(salt);
            $("#article-{{ article.id }}-add-comment-content").attr('placeholder', '回复' + nick + '');
        }

        return false;
    });


</script>