

    <!-- Comments -->
    <div class="pagination panel panel-default">

        {% comment %}
                        <div class="panel-heading">
                                    <ul class="list-inline panel-title">
                                        <li> <a id="article-{{ article.id }}-comment-door"> <span class="glyphicon glyphicon-comment"></span> {{ article.comment_num }} 条评论</a> </li>
                                        <li><a href="/focus/{{ article.id }}/keep/"><span class="glyphicon glyphicon-star-empty"></span>{{ article.keep_num }} 收藏</a></li>
                                        <li><a href="/focus/{{ article.id }}/poll/"><span class="glyphicon glyphicon-thumbs-up"></span>{{ article.poll_num }} 赞</a></li>

                                        {% if user.id == article.author_id %}
                                            <li><a href="/focus/del_article/{{ topic.id }}/{{ article.id }}/">删除文章</a></li>
                                        {% endif %}

                                    </ul>
                                </div>
{% endcomment %}


        <div class="list-group">
            {% for comment in article.comment_list %}
                <article class="list-group-item">
                    {% if user.id == comment.author_id %}
                        <div class="pull-right">
                            <a href="javascript:void(0);" url="/focus/del_comment/{{ topic.id }}/{{ article.id }}/{{ comment.id }}/">
                                删除
                            </a>
                        </div>
                    {% endif %}
                    <div><b>{{ article.author }}</b> <br> {{ comment.content | safe }}</div>
                </article>
            {% endfor %}

            <div class="list-group-item">
                <form id="article-{{ article.id }}-add-comment" {# action="/focus/add_comment/{{ topic.id }}/{{ article.id }}/" #} method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <input id="article-{{ article.id }}-add-comment-content" name="content" type="text" class="form-control" placeholder="您的评论">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" id="submit">添加评论</button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-xs-12 -->
                    </div>

                </form>
            </div>
        </div>
    </div>

{% load staticfiles %}
<script src="{% static "js/jquery-1.11.3.min.js" %}"></script>
<script src="{% static "js/jquery.twbsPagination.min.js" %}"></script>


<script type="text/javascript">
    $(document).ready(function(){
            $.ajaxSetup({
                 data: {csrfmiddlewaretoken: '{{ csrf_token }}' } });
            });
</script>

<script type="text/javascript">
    $('#article-{{ article.id }}-comment').twbsPagination({
        totalPages: {{ article.comment_page_num }},
        initiateStartPageClick: false,
        visiblePages: 5,
        startPage: {{ article.comment_page }},
        first: "首页",
        prev: "上页",
        next: "下页",
        last: "末页",
        paginationClass: "pagination center",
        onPageClick: function (event, page) {
            $('#article-{{ article.id }}-comment').load("/focus/comment/{{ topic.id }}/{{ article.id }}/" + page);
        }
    });


    $('#article-{{ article.id }}-add-comment').submit(function(){
        var content = $("#article-{{ article.id }}-add-comment-content").val();

        $.ajax({
            type:"POST",
            data: {content:content},
            url:  '/focus/add_comment/{{ topic.id }}/{{ article.id }}/',
            cache: false,
            dataType: "html",
            success: function(result, statues, xml){
                //alert(result);
                $('#article-{{ article.id }}-comment').html(result);
            },
            error: function(){
                //alert("false");
            }
        });
        return false;
    });


    $("a[url]").click(function() {
        //console.log("hahaha");
        var $this = $(this);
        var url = $this.attr("url");
        if (url) {

            $.get(url, {}, function(data){ $('#article-{{ article.id }}-comment').html(data); });

{#            $this.ajaxUrl({#}
{#                type : "POST",#}
{#                url : url,#}
{#                callback : function() {#}
{#                }#}
{#            });#}
        }

        return false;
    });


</script>