<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>开心咖啡~来点儿有意思的</title>
    {% load staticfiles %}

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />
    <!-- jQuery -->
    <script src="{% static "js/jquery-1.11.3.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>


    <link href="{% static "css/bootstrap-dialog.min.css" %}" rel="stylesheet" type="text/css" />
    <script src="{% static "js/bootstrap-dialog.min.js" %}"></script>


    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js"></script>#}


    <script src="{% static "csrf.js" %}"></script>

    <!-- IE10 viewport bug workaround -->
    <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>

    <!-- Placeholder Images -->
    <script src="{% static "js/holder.min.js" %}"></script>

    <!-- jquery.twbsPagination -->
    <script src="{% static "js/jquery.twbsPagination.min.js" %}"></script>

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<script type="text/javascript">
    $(document).ready(function(){
        {#        $(".nav a").on("click", function(){#}
        {#            $(".nav").find(".active").removeClass("active");#}
        {#            $(this).parent().addClass("active");#}
        {#        });#}

        {#        $( document ).on( 'click', '.nav li[abc]', function ( e ) {#}
        {#            $( this ).addClass( 'active' ).siblings().removeClass( 'active' );#}
        {#        } );#}

        $('.nav li.active').removeClass('active');
        $('.nav a[href="' + location.pathname + '"]').closest('li').addClass('active');

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' } });
    });

    function need_login_prompt(next) {
        var msg = '';
        if (next.length > 0)
        {
            msg = '<a href="/focus/login/?next=' + next + '">点击登录</a>';
        }
        else
        {
            msg = '<a href="/focus/login/">点击登录</a>';
        }

        BootstrapDialog.show({
            title: '您需要登录完成这个操作',
            message: $(msg),
        });
    }
</script>

{#<!-- Navigation -->#}
{#<nav class="navbar navbar-default navbar-static-top" role="navigation">#}
{#    <div class="container">#}
{#        <!-- Logo and responsive toggle -->#}
{#        <div class="navbar-header">#}
{#            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">#}
{#                <span class="sr-only">Toggle navigation</span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </button>#}
{#            <a class="navbar-brand" href="#">#}
{#                <span class="glyphicon glyphicon-globe"></span>#}
{#                <span class="text-primary">蓝莓</span>#}
{#            </a>#}
{#        </div>#}
{#        <!-- Navbar links -->#}
{#        <div class="collapse navbar-collapse" id="navbar">#}
{#            <ul class="nav navbar-nav">#}
{#                <li class="active">#}
{#                    <a href="#">首页</a>#}
{#                </li>#}
{#                <li>#}
{#                    <a href="#">帮助</a>#}
{#                </li>#}
{#                <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">其他<span class="caret"></span></a>#}
{#                    <ul class="dropdown-menu" aria-labelledby="about-us">#}
{#                        <li><a href="#">Programming World</a></li>#}
{#                        <li><a href="#">Poetry and the Distance</a></li>#}
{#                        <li><a href="#">The Pots and Pans</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#            </ul>#}
{##}
{##}
{#            <!-- Search -->#}
{#            <form class="navbar-form navbar-right" role="search">#}
{#                <div class="form-group">#}
{#                    <input type="text" class="form-control" placeholder="搜索">#}
{#                </div>#}
{#                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>#}
{##}
{##}
{#                <div class="input-group">#}
{#                    <input type="text" class="form-control" placeholder="搜索" aria-describedby="basic-addon2">#}
{#                    <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search"></span></span>#}
{#                </div>#}
{#            </form>#}
{##}
{#            <ul class="nav navbar-nav navbar-right">#}
{#                <li>#}
{#                    <div class="input-group">#}
{#                    <input type="text" class="form-control" placeholder="搜索" aria-describedby="basic-addon2">#}
{#                    <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search"></span></span>#}
{#                </div>#}
{#                </li>#}
{#                <li class="dropdown">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">账户<span class="caret"></span></a>#}
{#                    <ul class="dropdown-menu" aria-labelledby="about-us">#}
{#                        <li><a href="#">Programming World</a></li>#}
{#                        <li><a href="#">Poetry and the Distance</a></li>#}
{#                        <li><a href="#">The Pots and Pans</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#            </ul>#}
{##}
{#        </div>#}
{#        <!-- /.navbar-collapse -->#}
{#    </div>#}
{#    <!-- /.container -->#}
{#</nav>#}



<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            {% load staticfiles %}
            <a class="navbar-brand" href="/focus/">
                <img alt="Brand" src="{% static "img/lanmei-lg.png" %}">
            </a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/focus/">
                <span class="text-primary">开心咖啡</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/focus/">首页</a></li>
                <li><a href="/focus/topic_list/">主题</a></li>
                <li><a href="/focus/helper/">帮助</a></li>
                {#        <li class="dropdown">#}
                {#          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
                {#          <ul class="dropdown-menu">#}
                {#            <li><a href="#">Action</a></li>#}
                {#            <li><a href="#">Another action</a></li>#}
                {#            <li><a href="#">Something else here</a></li>#}
                {#            <li role="separator" class="divider"></li>#}
                {#            <li><a href="#">Separated link</a></li>#}
                {#            <li role="separator" class="divider"></li>#}
                {#            <li><a href="#">One more separated link</a></li>#}
                {#          </ul>#}
                {#        </li>#}
            </ul>
            <form class="navbar-form navbar-left" role="search">
                {#        <div class="form-group">#}
                {#          <input type="text" class="form-control" placeholder="搜索">#}
                {#        </div>#}
                {#        <button type="submit" class="btn btn-default">Submit</button>#}

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索(开发中...)" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search"></span></span>
                </div>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {#        <li><a href="#">Link</a></li>#}
                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{ user }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if request.user.can_password %}
                            <li><a href="/focus/logout/">修改密码</a></li>
                            {% endif %}
                            <li><a href="/focus/logout/">修改简介</a></li>
                            <li><a href="/focus/logout/">注销</a></li>
                            {#            <li><a href="#">Another action</a></li>#}
                            {#            <li><a href="#">Something else here</a></li>#}
                            {#            <li role="separator" class="divider"></li>#}
                            {#            <li><a href="#">Separated link</a></li>#}
                        </ul>
                    </li>
                {% else %}
                    <li><a href="/focus/login/">登录</a></li>
                    <li><a href="/focus/weibo_login/"><img src="{% static "img/icon_weibo_24.png" %}" />微博登录</a></li>
                    <li><a href="/focus/register">注册</a></li>
                    </li>

                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>