{% include "header.html" %}

<div class="container-fluid">

    <div class="col-sm-2"></div>

    <!-- Center Column -->
    <div class="col-sm-8">

        <!-- Button trigger modal -->
{#<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#needLogin">#}
{#  Launch demo modal#}
{#</button>#}
{##}
{#<!-- Modal -->#}
{#<div class="modal fade" id="needLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">#}
{#  <div class="modal-dialog" role="document">#}
{#    <div class="modal-content">#}
{#      <div class="modal-header">#}
{#        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
{#        <h4 class="modal-title" id="myModalLabel">这个操作需要登录</h4>#}
{#      </div>#}
{#      <div class="modal-body">#}
{#        <a href="/focus/login/">点击登录</a>#}
{#      </div>#}
{#      <div class="modal-footer">#}
{#        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>#}
{#        <button type="button" class="btn btn-primary">Save changes</button>#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#</div>#}

{#        <div class="source-code runnable">#}
{#        BootstrapDialog.alert('I want banana!');#}
{#    </div>#}


        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">玩转开心咖啡</h3>
            </div>
            <div class="panel-body">

                <h2>什么是开心咖啡</h2>

                <p>开心咖啡是一个意在给文字爱好者们提供一个框架性质的写作与阅读的网络平台。
                开心咖啡每周推出一个主题，有兴趣的写手们根据主题创作一些有意思的文字。
                文字内容可以是一个小故事，一段小对话等。</p>

                <h2>开心咖啡的精神是什么</h2>

                <p>生活都这么无趣了，还不做点有意思的事，哪怕是写点有意思的文字呢</p>

                <h2>玩转开心咖啡的几个线路</h2>

                <ol>
                <li>走马观花，读读各个主题下有意思的文字</li>
                <li>强势插入，把你的各种灵光一现的想法记录到开心咖啡</li>
                </ol>

            </div>
        </div>


    </div><!--/Center Column-->

    <!-- Right Column -->
{#    {% include "righter.html" %}#}

<div class="col-sm-2"></div>
</div><!--/container-fluid-->

{% include "footer.html" %}