{% include "header.html" %}

<div class="container-fluid">
    <!-- Center Column -->
    <div class="col-sm-10">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">帮助</h3>
            </div>
            <div class="panel-body">
                如何使用蓝莓社区
            </div>
        </div>


    </div><!--/Center Column-->

    <!-- Right Column -->
{#    {% include "righter.html" %}#}

<div class="col-sm-2"></div>
</div><!--/container-fluid-->

{% include "footer.html" %}