{% include "header.html" %}

<div class="container-fluid">
    <!-- Center Column -->
    <div class="col-sm-9">
        <!-- Articles -->
        {% for article in latest_article_list %}
            <div class="row">
{#                <div class="col-xs-1">#}
{#                    Picture#}
{#                </div>#}
                <article class="col-xs-12">
                    <a class="text-success" href="#">{{ article.author }}</a> . {{ article.author.profile }}
                    <br>

                    <a href="/focus/{{ article.topic_id }}">
                        <h3>
                            {{ article.content|truncatechars_html:80 | safe }}
                        </h3>
                    </a>
                    <br>
{#                    <p class="pull-right"><a class="small" href="/focus/{{ article.topic_id }}">点击进入</a></p>#}
                    <ul class="list-inline small">
                        <li><span>{{ article.pub_date | date:"j M" }}</span></li>
                        <li><span><span class="glyphicon glyphicon-comment"></span> {{ article.comment_num }} 评论</span></li>
                        <li><span><span class="glyphicon glyphicon-star-empty"></span>{{ article.keep_num }} 赞</span></li>
                    </ul>
                </article>
            </div>
            <hr>
        {% endfor %}
    </div><!--/Center Column-->


    <!-- Right Column -->
    {% include "righter.html" %}

</div><!--/container-fluid-->

{% include "footer.html" %}