{% include "header.html" %}
{% load myfilter %}

<div class="container-fluid">
    <div class="col-sm-1"></div>
    <!-- Center Column -->
    <div class="col-sm-9">

    <div class="row">
        <div class="col-sm-12">
{#            {% load staticfiles %}#}
{#            <img src="{% static "img/lanmei-show.jpg" %}" alt="..." class="img-responsive">#}
{#            <h3 style="color: #104c80;">每期有一个主题, 围绕主题写故事</h3>#}
{#            <br>#}
{#            <p>#}
{#                <span class="h3">本期主题:</span> <a>她去洗澡了</a>#}
{#            </p>#}
{#            <hr>#}

            <div style="background-color:#f2f8ff; !important" class="jumbotron">
                <h1 style="color: darkblue;">蓝莓</h1>
                <h2 style="color: #104c80;">写点有意思的文字</h2>
                <h3 style="color: #104c80;">每期有一个主题, 围绕主题写故事</h3>
                <br>
                <p>
                    <span class="h3">本期主题:</span> <a href="/focus/{{ status.curr_topic.id }}/">{{ status.curr_topic.content }}</a>
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
        <!-- Articles -->
        {% for article in top10_article_list %}
            <div class="row">
{#                <div class="col-xs-1">#}
{#                    Picture#}
{#                </div>#}

                <article class="col-xs-12">
                    <h4>
                        <a href="/focus/{{ article.topic_id }}">
                            {{ article.topic.content|truncatechars_html:80 | safe }}
                        </a>
                    </h4>
                    <p>
                        <a href="#"><b class="text-info">{{ article.author }}</b></a>
                        <span class="text-muted small">. {{ article.author.profile }}</span>
                        <span class="text-muted small">{{ article.pub_date|my_date }}</span>
                    </p>

                    <div class="alert alert-success" role="alert">
                        {{ article.content|truncatechars_html:80 | safe }}
                        <a href="/focus/{{ article.topic_id }}/#article-{{ article.id }}-box">点击阅读</a>
                    </div>

                    <ul class="list-inline small">
                        <li><span class="text-muted"><span class="glyphicon glyphicon-comment"></span> {{ article.comment_num }} 评论</span></li>
                        <li><span class="text-muted"><span class="glyphicon glyphicon-star"></span>{{ article.poll_num }} 赞</span></li>
                    </ul>
                </article>
            </div>
            <hr>
        {% endfor %}
        </div>
    </div>
    </div><!--/Center Column-->


    <!-- Right Column -->
{#    {% include "righter.html" %}#}

<div class="col-sm-2"></div>
</div><!--/container-fluid-->

{% include "footer.html" %}