{% include "header.html" %}

<div class="container-fluid">
    <div class="col-sm-1"></div>
    <!-- Center Column -->
    <div class="col-sm-9">
        <!-- Articles -->
        {% for article in latest_article_list %}
            <div class="row">
{#                <div class="col-xs-1">#}
{#                    Picture#}
{#                </div>#}

                <article class="col-xs-12">
                    <h4>
                        <a href="/focus/{{ article.topic_id }}">
                            {{ article.topic.content|truncatechars_html:80 | safe }}
                        </a>
                    </h4>
                    <p>
                        <a href="#"><b class="text-primary">{{ article.author }}</b></a>
                        <span class="text-muted">. {{ article.author.profile }}</span>
                        <span class="text-muted">{{ article.pub_date | date:"j M" }}</span>
                    </p>

{#                    <p class="h4">#}
{#                        {{ article.content|truncatechars_html:80 | safe }}#}
{#                    </p>#}

                    <div class="alert alert-info" role="alert">
                        <h5>{{ article.content|truncatechars_html:80 | safe }}</h5>
                    </div>

                    <ul class="list-inline small">
                        <li><span class="text-muted"><span class="glyphicon glyphicon-comment"></span> {{ article.comment_num }} 评论</span></li>
                        <li><span class="text-muted"><span class="glyphicon glyphicon-star-empty"></span>{{ article.keep_num }} 赞</span></li>
                    </ul>
                </article>
            </div>
            <hr>
        {% endfor %}
    </div><!--/Center Column-->


    <!-- Right Column -->
{#    {% include "righter.html" %}#}

<div class="col-sm-2"></div>
</div><!--/container-fluid-->

{% include "footer.html" %}