{% include "header.html" %}

<div class="container-fluid">
    <div class="col-sm-4"></div>
    <!-- Center Column -->
    <div class="col-sm-4">

{#        <h2>login page</h2>#}
{#        <p>{{ error }}</p>#}

        {% if error %}
            <p class="bg-danger">用户名和密码不匹配,请检查后输入</p>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
{#            <p>{{ form.as_p }}</p>#}

            <div class="form-group has-success has-feedback">
              <label class="control-label sr-only" for="inputGroupSuccess4">Input group with success</label>
              <div class="input-group">
                <span class="input-group-addon">邮箱</span>
                <input type="text" class="form-control" id="uid" name="uid" placeholder="a@b.com" aria-describedby="inputGroupSuccess4Status">
              </div>
{#              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>#}
{#              <span id="inputGroupSuccess4Status" class="sr-only">(success)</span>#}
            </div>

            <div class="form-group has-success has-feedback">
              <label class="control-label sr-only" for="inputGroupSuccess4">Input group with success</label>
              <div class="input-group">
                <span class="input-group-addon">密码</span>
                <input type="password" class="form-control" id="pwd" name="pwd" placeholder="******" aria-describedby="inputGroupSuccess4Status">
              </div>
{#              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>#}
{#              <span id="inputGroupSuccess4Status" class="sr-only">(success)</span>#}
            </div>

            <input class="btn btn-info pull-right" type="submit" value="登录" />
        </form>

    </div><!--/Center Column-->
    <div class="col-sm-4"></div>
</div><!--/container-fluid-->

{% include "footer.html" %}