{% include "header.html" %}
<div class="container-fluid">
    <div class="col-sm-4"></div>
    <!-- Center Column -->
    <div class="col-sm-4">

        <h2>在这里注册成为蓝莓用户</h2>
        <p>{{ msg }}</p>
        <form  method="post" >
            {% csrf_token %}
            {#	{{ form.non_field_errors }}#}
            {#	<div class="username">#}
            {#	{{ form.username.errors }}#}
            {#	<p> username: {{ form.username }}</p>	#}
            {#	</div>#}
            {#	{% csrf_token %} #}
            {#	<div class="email">#}
            {#	{{ form.email.errors }}#}
            {#	<p> email: {{ form.email }}</p>  	#}
            {#	</div>#}
            {##}
            {#	<div class="password1">#}
            {#	{{ form.password1.errors }}#}
            {#	<p> password:</p>#}
            {#	{{ form.password1 }}#}
            {#	</div>#}
            {##}
            {#	<div class="password2">#}
            {#	{{ form.password2.errors }}#}
            {#	<p> repassword:</p>#}
            {#	{{ form.password2 }}#}
            {#	</div>#}



            <div class="form-group has-success has-feedback">
                <label class="control-label sr-only" for="inputGroupSuccess4">Input group with success</label>
                <div class="input-group">
                    <span class="input-group-addon">邮箱</span>
                    <input type="text" class="form-control" id="email" name="email" placeholder="a@b.com" aria-describedby="inputGroupSuccess4Status">
                </div>
                {#              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>#}
                {#              <span id="inputGroupSuccess4Status" class="sr-only">(success)</span>#}
            </div>

            <div class="form-group has-success has-feedback">
                <label class="control-label sr-only" for="inputGroupSuccess4">Input group with success</label>
                <div class="input-group">
                    <span class="input-group-addon">昵称</span>
                    <input type="text" class="form-control" id="username" name="username" placeholder="小楼" aria-describedby="inputGroupSuccess4Status">
                </div>
                {#              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>#}
                {#              <span id="inputGroupSuccess4Status" class="sr-only">(success)</span>#}
            </div>

            <div class="form-group has-success has-feedback">
                <label class="control-label sr-only" for="inputGroupSuccess4">Input group with success</label>
                <div class="input-group">
                    <span class="input-group-addon">密码</span>
                    <input type="password" class="form-control" id="pwd" name="pwd" placeholder="******" aria-describedby="inputGroupSuccess4Status">
                </div>
                {#              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>#}
                {#              <span id="inputGroupSuccess4Status" class="sr-only">(success)</span>#}
            </div>

            <input class="btn btn-info pull-right" type="submit" value="提交" />
        </form>



    </div><!--/Center Column-->
    <div class="col-sm-4"></div>
</div><!--/container-fluid-->

{% include "footer.html" %}