{% include "header.html" %}
<div class="container-fluid">
    <div class="col-sm-4"></div>
    <!-- Center Column -->
    <div class="col-sm-4">

        <div class="row">
            <div class="col-sm-12">
                {% load staticfiles %}
                <img src="{% static "img/lanmei-show.jpg" %}" alt="..." class="img-responsive center-block">
            </div>
        </div>
        <hr>



        {% if msg != "success" %}

            {% if msg %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% if msg == "username exist" %}
                        <strong>用户名已经存在,请重新填写</strong>
                    {% elif msg == "email exist" %}
                        <strong>邮件已经存在,请重新填写</strong>
                    {% elif msg == "error" %}
                        <strong>输入有误,请详细检查</strong>
                    {% endif %}
                </div>
            {% endif %}

            <form  method="post" >
                {% csrf_token %}
                {#	{{ form.non_field_errors }}#}
                {#	<div class="username">#}
                {#	{{ form.username.errors }}#}
                {#	<p> username: {{ form.username }}</p>	#}
                {#	</div>#}
                {#	{% csrf_token %} #}
                {#	<div class="email">#}
                {#	{{ form.email.errors }}#}
                {#	<p> email: {{ form.email }}</p>  	#}
                {#	</div>#}
                {##}
                {#	<div class="password1">#}
                {#	{{ form.password1.errors }}#}
                {#	<p> password:</p>#}
                {#	{{ form.password1 }}#}
                {#	</div>#}
                {##}
                {#	<div class="password2">#}
                {#	{{ form.password2.errors }}#}
                {#	<p> repassword:</p>#}
                {#	{{ form.password2 }}#}
                {#	</div>#}



                <div class="form-group has-success has-feedback">
                    <label class="control-label sr-only" for="inputGroupSuccess4">Input group with success</label>
                    <div class="input-group">
                        <span class="input-group-addon">邮箱</span>
                        <input autocomplete="off" type="text" class="form-control" id="email" name="email" placeholder="请输入您的邮箱地址" aria-describedby="inputGroupSuccess4Status">
                    </div>
                    {#              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>#}
                    {#              <span id="inputGroupSuccess4Status" class="sr-only">(success)</span>#}
                </div>

                <div class="form-group has-success has-feedback">
                    <label class="control-label sr-only" for="inputGroupSuccess4">Input group with success</label>
                    <div class="input-group">
                        <span class="input-group-addon">昵称</span>
                        <input autocomplete="off" type="text" class="form-control" id="username" name="username" placeholder="给自己起个好听的名字吧" aria-describedby="inputGroupSuccess4Status">
                    </div>
                    {#              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>#}
                    {#              <span id="inputGroupSuccess4Status" class="sr-only">(success)</span>#}
                </div>

                <div class="form-group has-success has-feedback">
                    <label class="control-label sr-only" for="inputGroupSuccess4">Input group with success</label>
                    <div class="input-group">
                        <span class="input-group-addon">密码</span>
                        <input autocomplete="off" type="password" class="form-control" id="pwd" name="pwd" placeholder="请输入密码,需要牢牢记住哦" aria-describedby="inputGroupSuccess4Status">
                    </div>
                    {#              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>#}
                    {#              <span id="inputGroupSuccess4Status" class="sr-only">(success)</span>#}
                </div>

                <div class="form-group has-success has-feedback">
                    <label class="control-label sr-only" for="inputGroupSuccess4">Input group with success</label>
                    <div class="input-group">
                        <span class="input-group-addon">简介</span>
                        <input autocomplete="off" type="text" class="form-control" id="profile" name="profile" placeholder="写一句最喜欢的话吧" aria-describedby="inputGroupSuccess4Status">
                    </div>
                    {#              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>#}
                    {#              <span id="inputGroupSuccess4Status" class="sr-only">(success)</span>#}
                </div>

                {{ form.captcha }}

                <input class="btn btn-primary btn-lg btn-block" type="submit" value="提交" />
            </form>
        {% else %}

            <div class="alert alert-success" role="alert">
                恭喜注册成为开心咖啡用户,请点击 <a href="/focus/login/" class="alert-link">登录</a>
            </div>

        {% endif %}


    </div><!--/Center Column-->
    <div class="col-sm-4"></div>
</div><!--/container-fluid-->

{% include "footer.html" %}