<div class="col-sm-3">
    {% if request.user.is_authenticated %}
        <!-- Form -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-user"></span>
                    账户
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-group">{{ user }}，欢迎你来到 蓝莓IO <a href="/focus/logout/"><input class="btn btn-default" type="submit" value="登出" /></a></div>
            </div>
        </div>
    {% else %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-log-in"></span>
                    账户
                </h3>
            </div>
            <div class="panel-body">
                <form action="/focus/login/" method="post">
                    {% csrf_token %}
                    {{ loginform.non_field_errors }}
                    <div class="form-group">
                        {{ loginform.uid }}
                        <!--	<input type="text" class="form-control" id="uid" name="uid" placeholder="Username">  -->
                    </div>
                    <div class="form-group">
                        {{ loginform.pwd }}
                        <!--	<input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">  -->
                    </div>
                    <button type="submit" class="btn btn-default">登入</button>
                </form>
            </div>
        </div>
    {% endif %}
    <!-- Progress Bars -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-tasks"></span>
                热门主题
            </h3>
        </div>
        <div class="panel-body">
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                     aria-valuemin="0" aria-valuemax="100" style="width:100%">
                    “她洗澡去了” 热度100%
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"
                     aria-valuemin="0" aria-valuemax="100" style="width:80%">
                    80% Tornado
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45"
                     aria-valuemin="0" aria-valuemax="100" style="width:45%">
                    45% Crawler
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="35"
                     aria-valuemin="0" aria-valuemax="100" style="width:35%">
                    35% Basics
                </div>
            </div>
        </div>
    </div>

    <!-- advertisements -->
    <h3><span class="glyphicon glyphicon-link"></span>广告位</h3>
    <div id="side-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#side-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#side-carousel" data-slide-to="1"></li>
            <li data-target="#side-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="#">
                    <img class="img-responsive" src="holder.js/400x300?bg=FF8C00&text=Image%201" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>I am a genius</h3>
                    <p>Objectively innovate empowered manufactured products whereas parallel platforms.</p>
                </div>
            </div>
            <div class="item">
                <a href="#">
                    <img class="img-responsive" src="holder.js/400x300?bg=FF8C00&text=Image%202" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>You are an idiot</h3>
                    <p>Dramatically maintain clicks-and-mortar solutions without functional solutions.</p>
                </div>
            </div>
            <div class="item">
                <a href="#">
                    <img class="img-responsive" src="holder.js/400x300?bg=FF8C00&text=Image%203" alt="">
                </a>
                <div class="carousel-caption">
                    <h3>Enough! </h3>
                    <p>Everyone shut up and listen to me.</p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#side-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#side-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div><!--/Right Column -->