{% include "header.html" %}
{% load myfilter %}
{% load staticfiles %}

<div class="container-fluid">
    <div class="col-sm-1"></div>

    <!-- Center Column -->
    <div class="col-sm-9">
        <!-- Topic -->
        <div class="row">
            <article class="col-xs-12">
                <h2>{{ topic.content }}</h2>
            </article>
        </div>

        <!-- Article -->
        <hr>
        {% for article in article_list %}

            <div id="article-{{ article.id }}-box" class="row">
                <div class="col-xs-12">

                    <div class="media">

                        <div class="media-left">
                            <div class="btn-group-vertical" role="group" aria-label="...">
                                <a href="/focus/people/{{ article.author.salt }}">
                                    {% if article.author.avatar %}
                                        <img src="{{ article.author.avatar }}" alt="..." width="64" height="64" />
                                    {% else %}
                                        <img src="{% static "img/default_avatar.jpg" %}" alt="..." width="64" height="64" />
                                    {% endif %}
                                </a>
                                <br><br>
                                <wb:share-button appkey="3315407051" addition="simple" type="button" ralateUid="5262632803"></wb:share-button>
                            </div>
                        </div>

                        <div class="media-body">
                            <p>
                                <a class="h4" href="/focus/people/{{ article.author.salt }}">{{ article.author }}</a>
                                {% if article.author.profile %}
                                    <span> . {{ article.author.profile }}</span>
                                {% endif %}
                                <br>
                                <span class="text-muted small">{{ article.pub_date | my_date }}</span>
                            </p>

                            <div id="article-{{ article.id }}">
                                <div id="article-{{ article.id }}-show">
                                    {{ article.content | safe }}
                                </div>
                                <div id="article-{{ article.id }}-edit" style="display:none;">

                                    <textarea id="article-{{ article.id }}-editor" placeholder="" autofocus>
                                    </textarea>
                                    <div class="pull-right">
                                        <button id="article-{{ article.id }}-edit-cancel" type="button" class="btn btn-default btn-lg">取消</button>
                                        <button id="article-{{ article.id }}-edit-submit" type="button" class="btn btn-primary btn-lg">提交</button>
                                    </div>

                                </div>
                            </div>

                            <p></p>

                            <div class="row">
                                <div class="col-xs-12">
                                    <ul class="list-inline">
                                        <li>
                                            <a article-comment-door="true" class="text-muted" id="article-{{ article.id }}-comment-door" article_id="{{ article.id }}" comment_num="{{ article.comment_num }}" href="javascript:void(0);">
                                                <span class="glyphicon glyphicon-comment"></span> {{ article.comment_num }}条评论(查看添加)</a>
                                        </li>
                                        <li>
                                            <a class="text-muted" id="article-{{ article.id }}-poll" poll-url="/focus/poll/{{ topic.id }}/{{ article.id }}/" article_id="{{ article.id }}" href="javascript:void(0);">
                                                <span class="glyphicon glyphicon-star"></span>
                                                <span id="article-{{ article.id }}-pollnum">{{ article.poll_num }}</span>赞
                                            </a>
                                        </li>
{#                                        <li>#}
{#                                            <wb:share-button appkey="3315407051" addition="simple" type="icon"></wb:share-button>#}
{#                                        </li>#}

                                        {% if user.id == article.author_id %}
                                            <li class="pull-right">
                                                <a article-edit-door="true" class="pull-right" id="article-{{ article.id }}-edit-door" article_id="{{ article.id }}" href="javascript:void(0);">
                                                    <strong>
                                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
                                                    </strong>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>

                                    {#                                    <!-- JiaThis Button BEGIN -->#}
                                    {#                                    <div class="jiathis_style">#}
                                    {#    <span class="jiathis_txt">分享到：</span>#}
                                    {##}
                                    {#                                        <a class="jiathis_button_tsina"></a>#}
                                    {#                                        <a class="jiathis_button_weixin"></a>#}
                                    {##}
                                    {#<a class="jiathis_button_qzone"></a>#}
                                    {#<a class="jiathis_button_tsina"></a>#}
                                    {#<a class="jiathis_button_tqq"></a>#}
                                    {##}
                                    {#<a class="jiathis_button_xiaoyou"></a>#}
                                    {#<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>#}
                                    {#                                    </div>#}
                                    {#                                    <script type="text/javascript" >#}
                                    {#                                        var jiathis_config={#}
                                    {#                                            siteNum:6,#}
                                    {#                                            sm:"tsina, weixin",#}
                                    {#                                            summary:"{{ article.topic.content | striptags | truncatechars:120  }}",#}
                                    {#                                            boldNum:2,#}
                                    {#                                            shortUrl:false,#}
                                    {#                                            hideMore:false#}
                                    {#                                        }#}
                                    {#                                    </script>#}
                                    {#                                    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>#}
                                    {#                                    <!-- JiaThis Button END -->#}

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12">
                                    <div id="article-{{ article.id }}-comment" style="display:none;">
                                        {% include "comment.html" %}
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>
            </div>
            <hr>
        {% endfor %}



        <script type="text/javascript">

            $('a[article-comment-door]').click(
                    function(){
{#                        alert('article-comment-door');#}
                        var $this = $(this);
                        var article_id = $this.attr("article_id");
                        var comment_num = $this.attr("comment_num");
                        var node=$('#article-'+article_id+'-comment');
                        if (node.is(':visible'))
                        {
                            node.hide();
                            $this.html('<span class="glyphicon glyphicon-comment"></span> '+comment_num+'条评论(查看添加)');
                        }
                        else
                        {
                            node.show();
                            $this.html('<span class="glyphicon glyphicon-comment"></span> '+comment_num+'条评论(收起评论)');
                        }
                    });

            $('a[article-edit-door]').click(
                    function(){
                        var $this = $(this);
                        var article_id = $this.attr("article_id");

                        var show_node=$('#article-'+article_id+'-show');
                        var edit_node=$('#article-'+article_id+'-edit');

                        var cc = '<textarea id="article-'+article_id+'-editor" placeholder="" autofocus></textarea>'
                                + '<div class="row">'
                                + '<div class="col-sm-6"><button id="article-'+article_id+'-edit-submit" type="button" class="btn btn-primary btn btn-block">提交</button></div>'
                                + '<div class="col-sm-6"><button id="article-'+article_id+'-edit-cancel" type="button" class="btn btn-default btn btn-block">取消</button></div>'
                                + '</div>';

                        edit_node.html(cc);

                        if ($this.is(':visible'))
                        {
                            $this.hide();
                            show_node.hide();
                            edit_node.show();
                            var editor = new Simditor({
                                textarea: $('#article-'+article_id+'-editor'),
                                //placeholder: show_node.text(),
                            });
                            editor.setValue(show_node.html());

                            $('#article-'+article_id+'-edit-cancel').click(
                                    function() {
                                        $this.show();
                                        show_node.show();
                                        edit_node.hide();
                                    });

                            $('#article-'+article_id+'-edit-submit').click(
                                    function() {
                                        var $this = $(this);
                                        var content = editor.getValue();

                                        $.ajax({
                                            type:"POST",
                                            data: {content:content},
                                            url:  '/focus/edit_article/{{ topic.id }}/'+article_id+'/',
                                            cache: false,
                                            dataType: "html",
                                            success: function(result, statues, xml){
                                                $this.show();
                                                show_node.html(content);
                                                show_node.show();
                                                edit_node.hide();
                                            },
                                            error: function(){
                                                $this.show();
                                                show_node.show();
                                                edit_node.hide();
                                            }
                                        });
                                        return false;
                                    });
                        }

                    });

            $("a[poll-url]").click(function() {
                {% if not request.user.is_authenticated %}
                    need_login_prompt('{{ request.path }}');
                    return;
                {% endif %}

                var $this = $(this);
                var url = $this.attr("poll-url");
                var article_id = $this.attr("article_id");
                if (url && article_id) {
                    $.get(url, {}, function(data){ $('#article-'+article_id+'-pollnum').html(data); });
                }

                return false;
            });
        </script>

        {% if not article_list|length_is:0 %}
            <div class="row">
                <div class="col-xs-12" id="article-page">
                </div>
            </div>

            <script type="text/javascript">
                $('#article-page').twbsPagination({
                    totalPages: {{ topic.total_article_page }},
                    initiateStartPageClick: false,
                    visiblePages: 5,
                    startPage: {{ topic.article_page }},
                    first: "首页",
                    prev: "上页",
                    next: "下页",
                    last: "末页",
                    paginationClass: "pagination pagination-lg center",
                    href: '/focus/{{ topic.id }}/[[pageNumber]]',
                    hrefVariable: '[[pageNumber]]',
                });
            </script>

        {% else %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>这片绿草地静静的躺在这里, 等你的到来　... ...</strong>
            </div>
        {% endif %}

        <!-- article submit -->
        <hr>
        <div class="row">
            <div class="col-xs-12">
                {% if request.user.is_authenticated %}
                    <h4>
                        <span class="glyphicon glyphicon-user text-primary"></span>
                        <a href="/focus/people/{{ user.salt }}"> <span class="text-primary"> {{ user }}</span></a>, 在这里, 随时记录你那天马行空的思想
                    </h4>
                {% else %}
                    <h4><span class="glyphicon glyphicon-user"></span> 在这里, 随时记录你那天马行空的思想</h4>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form onsubmit="return submit_article()" action="/focus/add_article/{{ topic.id }}/" method="post">
                    {% csrf_token %}
{#                    {{ article_form.content }}#}
                    <textarea autofocus="autofocus" cols="40" id="editor" name="content" placeholder="写下你的文字" rows="10"></textarea>
                    {{ article_form.captcha }}
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="发表文章" />
                </form>
            </div>
        </div>

        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "simditor-2.3.6/styles/simditor.css" %}" />
        <script type="text/javascript" src="{% static "simditor-2.3.6/scripts/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "simditor-2.3.6/scripts/module.js" %}"></script>
        <script type="text/javascript" src="{% static "simditor-2.3.6/scripts/hotkeys.js" %}"></script>
        {#<script type="text/javascript" src="{% static "simditor-2.3.6/scripts/uploader.js" %}"></script>#}
        <script type="text/javascript" src="{% static "simditor-2.3.6/scripts/simditor.js" %}"></script>


        {#<textarea id="editor" placeholder="Balabala" autofocus></textarea>#}
        <script type="text/javascript">
            var editor = new Simditor({
                textarea: $('#editor'),
                //optional options
                allowedTags: ['br', 'span', 'a', 'img', 'b', 'strong',
                    'i', 'strike', 'u', 'font', 'p', 'ul', 'ol', 'li',
                    'blockquote', 'pre', 'code', 'hr'],
            });
            
            function submit_article() {
                {% if not request.user.is_authenticated %}
                    need_login_prompt('{{ request.path }}');
                    return false;
                {% else %}
                    return true;
                {% endif %}
            }
        </script>

    </div><!--/Center Column-->


    <!-- Right Column -->
    {#{% include "righter.html" %}#}


    <div class="col-sm-2"></div>
</div><!--/container-fluid-->

{% include "footer.html" %}