{% include "header.html" %}
{% load myfilter %}

<div class="container-fluid">
    <div class="col-sm-1"></div>

    <!-- Center Column -->
    <div class="col-sm-9">
        <!-- Topic -->
        <div class="row">
            <article class="col-xs-12">
                <h2>{{ topic.content }}</h2>
            </article>
        </div>

        <!-- Article -->
        <hr>
        {% for article in article_list %}
            <div class="row" id="article-{{ article.id }}-box">
                <div class="col-xs-1">

                    <div>
                        <div class="btn-group-vertical" role="group" aria-label="...">
                            <a id="article-{{ article.id }}-poll" poll-url="/focus/poll/{{ topic.id }}/{{ article.id }}/" article_id="{{ article.id }}" href="javascript:void(0);">
                                <h3 style="color: rgb(21, 51, 128);">赞</h3>
                                <span id="article-{{ article.id }}-pollnum" class="badge">{{ article.poll_num }}</span>
                            </a>
                        </div>
                    </div>

                </div>

                <article class="col-xs-11">
                    <p>
                        <a class="h4" href="/focus/people/{{ article.author.salt }}">{{ article.author }}</a>
                        {% if article.author.profile %}
                            <span> . {{ article.author.profile }}</span>
                        {% endif %}
                        <br>
                        <span class="text-muted small">{{ article.pub_date | my_date }}</span>
                    </p>

                    <div id="article-{{ article.id }}">
                        <div id="article-{{ article.id }}-show">
                            {{ article.content | safe }}
                        </div>
                        {% if user.id == article.author_id %}
                            <a class="pull-right" id="article-{{ article.id }}-edit-door" href="javascript:void(0);">
                                <strong>
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
                                </strong>
                            </a>
                        {% endif %}
                        <div id="article-{{ article.id }}-edit" style="display:none;">
                            <textarea id="article-{{ article.id }}-editor" placeholder="" autofocus>
                            </textarea>

                            <div class="pull-right">
                                <button id="article-{{ article.id }}-edit-cancel" type="button" class="btn btn-default btn-lg">取消</button>
                                <button id="article-{{ article.id }}-edit-submit" type="button" class="btn btn-primary btn-lg">提交</button>
                            </div>

                        </div>

                    </div>
                    <p></p>

                    <div class="row">
                        <div class="col-xs-12">
                            <a class="text-muted" id="article-{{ article.id }}-comment-door" href="javascript:void(0);"> <span class="glyphicon glyphicon-comment"></span> {{ article.comment_num }} 条评论(查看添加)</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div id="article-{{ article.id }}-comment" style="display:none;">
                                {% include "comment.html" %}
                            </div>
                        </div>
                    </div>


                </article>

                <script type="text/javascript">
{#                    $('#article-{{ article.id }}-comment').hide();#}
{#                    $('#article-{{ article.id }}-edit').hide();#}

                    $('#article-{{ article.id }}-comment-door').click(
                            function(){
                                var door = $('#article-{{ article.id }}-comment-door');
                                var node=$('#article-{{ article.id }}-comment');
                                if (node.is(':visible'))
                                {
                                    node.hide();
                                    door.html('<span class="glyphicon glyphicon-comment"></span> {{ article.comment_num }} 条评论(查看添加)');
                                }
                                else
                                {
                                    node.show();
                                    door.html('<span class="glyphicon glyphicon-comment"></span> {{ article.comment_num }} 条评论(收起评论)');
                                }
                            });

                    $('#article-{{ article.id }}-edit-door').click(
                            function(){
                                var door = $('#article-{{ article.id }}-edit-door');
                                var show_node=$('#article-{{ article.id }}-show');
                                var edit_node=$('#article-{{ article.id }}-edit');

                                var cc = '<textarea id="article-{{ article.id }}-editor" placeholder="" autofocus></textarea>'
                                        + '<div class="row">'
                                        + '<div class="col-sm-6"><button id="article-{{ article.id }}-edit-submit" type="button" class="btn btn-primary btn btn-block">提交</button></div>'
                                        + '<div class="col-sm-6"><button id="article-{{ article.id }}-edit-cancel" type="button" class="btn btn-default btn btn-block">取消</button></div>'
                                        + '</div>';

                                edit_node.html(cc);

                                if (door.is(':visible'))
                                {
                                    door.hide();
                                    show_node.hide();
                                    edit_node.show();
                                    var editor = new Simditor({
                                        textarea: $('#article-{{ article.id }}-editor'),
                                        //placeholder: show_node.text(),
                                        //optional options
                                    });
                                    editor.setValue(show_node.html());

                                    $('#article-{{ article.id }}-edit-cancel').click(
                                            function() {
                                                var door = $('#article-{{ article.id }}-edit-door');
                                                var show_node=$('#article-{{ article.id }}-show');
                                                var edit_node=$('#article-{{ article.id }}-edit');

                                                door.show();
                                                show_node.show();

                                                edit_node.hide();
                                            });

                                    $('#article-{{ article.id }}-edit-submit').click(
                                            function() {
                                                var content = editor.getValue();

                                                $.ajax({
                                                    type:"POST",
                                                    data: {content:content},
                                                    url:  '/focus/edit_article/{{ topic.id }}/{{ article.id }}/',
                                                    cache: false,
                                                    dataType: "html",
                                                    success: function(result, statues, xml){
                                                        //alert(result);
                                                        //$('#article-{{ article.id }}-comment').html(result);


                                                        var door = $('#article-{{ article.id }}-edit-door');
                                                        var show_node=$('#article-{{ article.id }}-show');
                                                        var edit_node=$('#article-{{ article.id }}-edit');

                                                        door.show();
                                                        show_node.html(content);
                                                        show_node.show();

                                                        edit_node.hide();
                                                    },
                                                    error: function(){
                                                        //alert("false");
                                                        var door = $('#article-{{ article.id }}-edit-door');
                                                        var show_node=$('#article-{{ article.id }}-show');
                                                        var edit_node=$('#article-{{ article.id }}-edit');

                                                        door.show();
                                                        show_node.show();

                                                        edit_node.hide();
                                                    }
                                                });
                                                return false;
                                            });
                                }

                            });
                </script>

            </div>
            <hr>
        {% endfor %}

        <script type="text/javascript">
            $("a[poll-url]").click(function() {
                {% if not request.user.is_authenticated %}
                    need_login_prompt('{{ request.path }}');
                    return;
                {% endif %}

                var $this = $(this);
                var url = $this.attr("poll-url");
                var article_id = $this.attr("article_id");
                if (url && article_id) {
                    $.get(url, {}, function(data){ $('#article-'+article_id+'-pollnum').html(data); });
                }

                return false;
            });
        </script>

        {% if not article_list|length_is:0 %}
            <div class="row">
                <div class="col-xs-12" id="article-page">
                </div>
            </div>

            <script type="text/javascript">
                $('#article-page').twbsPagination({
                    totalPages: {{ topic.total_article_page }},
                    initiateStartPageClick: false,
                    visiblePages: 5,
                    startPage: {{ topic.article_page }},
                    first: "首页",
                    prev: "上页",
                    next: "下页",
                    last: "末页",
                    paginationClass: "pagination pagination-lg center",
                    href: '/focus/{{ topic.id }}/[[pageNumber]]',
                    hrefVariable: '[[pageNumber]]',
                });
            </script>

        {% else %}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>这片绿草地静静的躺在这里, 等你的到来　... ...</strong>
            </div>
        {% endif %}

        <!-- article submit -->
        <hr>
        <div class="row">
            <div class="col-xs-12">
                {% if request.user.is_authenticated %}
                    <h4>
                        <span class="glyphicon glyphicon-user text-primary"></span>
                        <a href="/focus/people/{{ user.salt }}"> <span class="text-primary"> {{ user }}</span></a>, 在这里, 随时记录你那天马行空的思想
                    </h4>
                {% else %}
                    <h4><span class="glyphicon glyphicon-user"></span> 在这里, 随时记录你那天马行空的思想</h4>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form onsubmit="return submit_article()" action="/focus/add_article/{{ topic.id }}/" method="post">
                    {% csrf_token %}
{#                    {{ article_form.content }}#}
                    <textarea autofocus="autofocus" cols="40" id="editor" name="content" placeholder="写下你的文字" rows="10"></textarea>
                    {{ article_form.captcha }}
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="发表文章" />
                </form>
            </div>
        </div>

        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static "simditor-2.3.6/styles/simditor.css" %}" />
        <script type="text/javascript" src="{% static "simditor-2.3.6/scripts/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "simditor-2.3.6/scripts/module.js" %}"></script>
        <script type="text/javascript" src="{% static "simditor-2.3.6/scripts/hotkeys.js" %}"></script>
        {#<script type="text/javascript" src="{% static "simditor-2.3.6/scripts/uploader.js" %}"></script>#}
        <script type="text/javascript" src="{% static "simditor-2.3.6/scripts/simditor.js" %}"></script>


        {#<textarea id="editor" placeholder="Balabala" autofocus></textarea>#}
        <script type="text/javascript">
            var editor = new Simditor({
                textarea: $('#editor'),
                //optional options
                allowedTags: ['br', 'span', 'a', 'img', 'b', 'strong',
                    'i', 'strike', 'u', 'font', 'p', 'ul', 'ol', 'li',
                    'blockquote', 'pre', 'code', 'hr'],
            });
            
            function submit_article() {
                {% if not request.user.is_authenticated %}
                    need_login_prompt('{{ request.path }}');
                    return false;
                {% else %}
                    return true;
                {% endif %}
            }
        </script>

    </div><!--/Center Column-->


    <!-- Right Column -->
    {#{% include "righter.html" %}#}


    <div class="col-sm-2"></div>
</div><!--/container-fluid-->


{#<div id="epiceditor"></div>#}
{#{% load staticfiles %}#}
{#<script src="{% static "epiceditor/js/epiceditor.min.js" %}"></script>#}
{#<script language="javascript">#}
{#    var editor = new EpicEditor({basePath: '{% static "epiceditor" %}'}).load();#}
{#</script>#}



{% include "footer.html" %}