{% include "header.html" %}
{% load myfilter %}

<div class="container-fluid">
    <div class="col-sm-1"></div>
    <!-- Center Column -->
    <div class="col-sm-8" id="topic_list">

        {% for topic in topic_list %}
            {% include "topic.html" %}
            <hr>
        {% endfor %}

        <div class="row">
            <div class="col-sm-12">
                <a id="topic_more" topic_index="{{ topic_list.count }}" class="btn btn-info btn-lg btn-block" href="javascript:void(0);">更多</a>
            </div>
        </div>

    </div><!--/Center Column-->

<script type="text/javascript">
$("#topic_more").click(function() {
        var $this = $(this);
        $this.text('加载中...');
        var url = '/focus/topic_more';
        var topic_index = $this.attr("topic_index");
        if (topic_index) {
            $.get(url, {topic_index: topic_index}, function(data){
                $('#topic_list').append(data.content);
                $this.attr("topic_index", data.topic_index);
                $this.text('更多');
            });
        }

        return false;
    });
</script>



    <!-- Right Column -->
<div class="col-sm-3">
    {% include "righter.html" %}
</div>
</div><!--/container-fluid-->

{% include "footer.html" %}